{{ define "channel_info" }}
<script type="application/json" class="json-channel-data">
  {
        "channelId":"{{.Username}}",
        
        "streamedAt":"{{ if .StreamedAt }}{{ .StreamedAt }} {{ if and .IsOnline (not .IsPaused) }}(NOW){{ end }}{{ else }} - {{ end }}",
        "streamedAtUnix":{{.StreamedAtUnix}},
        "filesizeBytes":{{.FilesizeBytes}},
        "filesize":"{{ if .Filesize }} {{ .Filesize }} {{ if .MaxFilesize }} / {{ .MaxFilesize }} {{ end }} {{ else }} - {{ end }}",
        "filename":"{{.Filename}}",
        "duration":"{{ if .Duration }} {{ .Duration }} {{ if .MaxDuration }} / {{ .MaxDuration }} {{ end }} {{ else }} - {{ end }}",
        "status":"{{if .IsPaused}}PAUSED{{else if .IsBlocked}}BLOCKED{{else if .IsQueued}}QUEUED{{else if .IsOnline}}RECORDING{{else}}OFFLINE{{end}}"
  }
</script>
<div class="ts-divider"></div>

<!-- Info: Channel URL -->
<div class="ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-link-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Channel URL</div>
        <a class="ts-text is-small is-link is-external-link" href="{{ .GlobalConfig.Domain }}{{ .Username }}" target="_blank" > {{ .GlobalConfig.Domain }}{{ .Username }}</a>
    </div>
</div>
<!-- / Info: Channel URL -->

<!-- Info: Filename -->
<div class="ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-folder-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Filename</div>
        <div class="ts-text is-description" data-value-id="filename">{{ if .Filename }}{{ if ne .Filename "" }}{{ .Filename }}{{ else }}-{{ end }}{{ else }}-{{ end }}</div>
    </div>
</div>
<!-- / Info: Filename -->

<!-- Info: Last streamed at -->
<div class="ts-grid ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-tower-broadcast-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Last streamed at</div>
        <div class="ts-text is-description" data-value-id="streamedAt">{{ if .StreamedAt }}{{ .StreamedAt }} {{ if and .IsOnline (not .IsPaused) }}(NOW){{ end }}{{ else }} - {{ end }}</div>
    </div>
</div>
<!-- / Info: Last streamed at -->

<!-- Info: Segment duration -->
<div class="ts-grid ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-clock-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Segment duration</div>
        <div class="ts-text is-description" data-value-id="duration">{{ if .Duration }} {{ .Duration }} {{ if .MaxDuration }} / {{ .MaxDuration }} {{ end }} {{ else }} - {{ end }}</div>
    </div>
</div>
<!-- / Info: Segment duration -->

<!-- Info: Segment filesize -->
<div class="ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-chart-pie-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Segment filesize</div>
        <div class="ts-text is-description" data-value-id="filesize">{{ if .Filesize }} {{ .Filesize }} {{ if .MaxFilesize }} / {{ .MaxFilesize }} {{ end }} {{ else }} - {{ end }}</div>
    </div>
</div>
<!-- / Info: Segment filesize -->

<!-- Actions -->
<div class="ts-grid is-3-columns has-top-spaced-large">
    <div class="column">
        {{ if .IsPaused }}
        <form>
            <button class="ts-button is-start-icon" hx-post="/resume_channel/{{ .Username }}" hx-swap="none">
                <span class="ts-icon is-play-icon"></span>
                Resume
            </button>
        </form>
        {{ else }}
        <form>
            <button type="submit" class="ts-button is-start-icon is-secondary" hx-post="/pause_channel/{{ .Username }}" hx-swap="none">
                <span class="ts-icon is-pause-icon"></span>
                Pause
            </button>
        </form>
        {{ end }}
    </div>
    <div class="column">
        <form action="/stop_channel/{{ .Username }}" method="POST" onsubmit="return confirm('Are you sure you want to delete `{{ .Username }}` channel?')">
            <button class="ts-button is-start-icon is-outlined is-negative is-fluid" >
                <span class="ts-icon is-trash-icon"></span>
                Delete
            </button>
        </form>
    </div>
    <div class="column">
        <button
        class="ts-button is-start-icon is-secondary"
        data-dialog="create-dialog"
        data-username="{{ .Username }}"
        onpointerdown="cbdvr.editChannel('{{.Username }}')">
            <span class="ts-icon is-gear-icon"></span>
            Edit
        </button>
    </div>
</div>

<!-- / Actions -->
{{ end }}
