{{ define "channel_info" }}

<!-- Header -->
<div class="ts-grid is-middle-aligned channel-header">
   <div class="ts-image is-circular channel-thumbnail {{ if .IsOnline }}is-online{{ end }}" style="background-image: url('./channel-images/{{.Username}}.jpg'), url('static/default_user.png');"></div> 
    <div class="column is-fluid">
         <div class="ts-header js-username-title">{{ .Username }}</div>
    </div>
    <div class="channel-menu column">
        <button title="Open channel in browser" onclick="window.open('{{ .GlobalConfig.Domain }}{{.Username }}','_blank')" class="channel-menu-item ts-icon">&#xf35d;</button>
        <button title="Edit channel" onclick="cbdvr.editChannel('{{.Username }}')" class="channel-menu-item ts-icon is-gear-icon"></button>
        <button title="Delete channel" onclick="cbdvr.confirmChannelDeletion('{{.Username}}')" class="channel-menu-item ts-icon is-trash-icon"></button>
        
        <!--
        <form action="/stop_channel/{{ .Username }}" method="POST" onsubmit="return confirm('Are you sure you want to delete `{{ .Username }}` channel?')">
            <button title="Delete channel" class="channel-menu-item ts-icon is-trash-icon"></button>
        </form> -->
    </div>    
    <div class="column">
        {{ if .IsPaused }}
            <span onclick="cbdvr.resumeChannel('{{.Username }}')" class="ts-badge is-negative is-small is-start-spaced" title="Click to resume channel" style="background-color: rgb(134, 63, 63);">PAUSED</span>
        {{ else if .IsBlocked }}
            <span onclick="cbdvr.pauseChannel('{{.Username }}')"class="ts-badge is-secondary is-small is-start-spaced" title="Click to pause channel" style="background-color: #736840;">BLOCKED</span>
        {{ else if .IsDownPrioritized }}
            <span onclick="cbdvr.pauseChannel('{{.Username }}')" class="ts-badge is-secondary is-small is-start-spaced" title="Click to pause channel" style="background-color: rgb(65, 82, 104);">QUEUED</span> 
        {{ else if .IsOnline }}
            <span onclick="cbdvr.pauseChannel('{{.Username }}')" class="ts-badge is-small is-negative is-start-spaced" title="Click to pause channel" style="background-color: rgb(65, 103, 87);">RECORDING</span>
        {{ else }}            
            <span onclick="cbdvr.pauseChannel('{{.Username }}')" class="ts-badge is-secondary is-small is-start-spaced" title="Click to pause channel" >OFFLINE</span>
        {{ end }}
    </div>
</div>
<!-- / Header -->

<div class="ts-divider has-top-spaced"></div>

<!-- Info: Channel URL -->
<div class="ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-link-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Channel URL</div>
        <a class="ts-text is-small is-link is-external-link" href="{{ .GlobalConfig.Domain }}{{ .Username }}" target="_blank"> {{ .GlobalConfig.Domain }}{{ .Username }}</a>
    </div>
</div>
<!-- / Info: Channel URL -->

<!-- Info: Filename -->
<div class="ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-folder-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Filename</div>
        {{ if .Filename }}
        <div class="ts-text is-description">{{ .Filename }}</div>
        {{ else }}
        <span>-</span>
        {{ end }}
    </div>
</div>
<!-- / Info: Filename -->

<!-- Info: Last streamed at -->
<div class="ts-grid ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-tower-broadcast-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Last streamed at</div>
        <div class="ts-text is-description">{{ if .StreamedAt }}{{ .StreamedAt }} {{ if and .IsOnline (not .IsPaused) }}(NOW){{ end }}{{ else }} - {{ end }}</div>
    </div>
</div>
<!-- / Info: Last streamed at -->

<!-- Info: Segment duration -->
<div class="ts-grid ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-clock-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Segment duration</div>
        <div class="ts-text is-description">{{ if .Duration }} {{ .Duration }} {{ if .MaxDuration }} / {{ .MaxDuration }} {{ end }} {{ else }} - {{ end }}</div>
    </div>
</div>
<!-- / Info: Segment duration -->

<!-- Info: Segment filesize -->
<div class="ts-grid has-top-spaced">
    <div class="column">
        <span class="ts-icon is-chart-pie-icon"></span>
    </div>
    <div class="column is-fluid">
        <div class="ts-text is-small is-bold">Segment filesize</div>
        <div class="ts-text is-description">{{ if .Filesize }} {{ .Filesize }} {{ if .MaxFilesize }} / {{ .MaxFilesize }} {{ end }} {{ else }} - {{ end }}</div>
    </div>
</div>
<!-- / Info: Segment filesize -->

<!-- Actions -->
<div class="ts-grid is-3-columns has-top-spaced-large">
    <div class="column">
        {{ if .IsPaused }}
        <form>
            <button class="ts-button is-start-icon" hx-post="/resume_channel/{{ .Username }}" hx-swap="none">
                <span class="ts-icon is-play-icon"></span>
                Resume
            </button>
        </form>
        {{ else }}
        <form>
            <button type="submit" class="ts-button is-start-icon is-secondary" hx-post="/pause_channel/{{ .Username }}" hx-swap="none">
                <span class="ts-icon is-pause-icon"></span>
                Pause
            </button>
        </form>
        {{ end }}
    </div>
    <div class="column">
        <form action="/stop_channel/{{ .Username }}" method="POST" onsubmit="return confirm('Are you sure you want to delete `{{ .Username }}` channel?')">
            <button class="ts-button is-start-icon is-outlined is-negative is-fluid" >
                <span class="ts-icon is-trash-icon"></span>
                Delete
            </button>
        </form>
    </div>
    <div class="column">
        <button
        class="ts-button is-start-icon is-secondary"
        data-dialog="create-dialog"
        data-username="{{ .Username }}"
        onclick="cbdvr.editChannel('{{.Username }}')">
            <span class="ts-icon is-gear-icon"></span>
            Edit
        </button>
    </div>
</div>

<!-- / Actions -->
{{ end }}
